/* TODO: comprehensive dark mode css for all dashboard UI elements with fallbacks */
/* @media (prefers-color-scheme: dark) {} */

/* Quirk with Caching Plugins Purge Cache button */
#wpadminbar #wp-admin-bar-litespeed-menu .ab-icon {
	margin-right: unset !important;
}

/* Tracklist Metabox Styles */
.track-row {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 8px;
	background: #FFF;
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

/* Style specifically for the Spacer rows */
.track-row.is-spacer {
	background: #F0F0F1;
	border-left: 4px solid #72AEE6;
}
.track-row input[type=text] { 
	flex: 2;
}
.track-row input[type=url] { 
	flex: 1;
}

.drag-handle {
	cursor: move;
	font-size: 20px;
	padding: 0 10px;
	color: #CCC;
	line-height: 1;
}
.drag-handle:hover { 
	color: #333;
}

/* The grey dotted box that appears when you are dragging an item */
.placeholder-highlight {
	border: 2px dashed #CCC;
	height: 45px;
	margin-bottom: 8px;
	background: #F9F9F9;
}